.headerItem {
    grid-area: h;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
            'img heading';
}


.headerItem img {
    grid-area: img;
    width: 50px;

}

.heading {
    grid-area: heading;
    text-align: center;
    color: cornflowerblue;
}