.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 3px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.sidebar {
    background-color: #e5bf95;
    padding: 4px;
}
