.dialogsItem {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs {
    padding: 4px;

}

.dialogs .dialog {

}

.dialogs .dialog a {
    color: black;
    text-decoration: none;
}

.messages {
    padding: 4px;
}

.messages .message {
}

.messageBackGround {
    border: 2px solid rgba(47, 43, 43, 0.5);
    border-radius: 4px;
    background: #fc3; /* Цвет фона */
    padding-left: 14px; /* Поля вокруг текста */
}

