
.messageItems {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(47, 43, 43, 0.5);
    border-radius: 4px;
    background: #d2b262;
    padding: 8px;
    margin: 8px;
    width: max-content;
}


.messageText {

}

.likesCount {

}
